<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>46356553751-aqcosop0qgoa0kfvo4aq12f5jqugcvtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46356553751-aqcosop0qgoa0kfvo4aq12f5jqugcvtn</string>
	<key>API_KEY</key>
	<string>AIzaSyCk-e5cP0HTvYZkvKLNeE_8DRI30v-DvXc</string>
	<key>GCM_SENDER_ID</key>
	<string>46356553751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manhattanchallenge.prova</string>
	<key>PROJECT_ID</key>
	<string>manhattan-912af</string>
	<key>STORAGE_BUCKET</key>
	<string>manhattan-912af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46356553751:ios:92c444bd7aad9a0b</string>
	<key>DATABASE_URL</key>
	<string>https://manhattan-912af.firebaseio.com</string>
</dict>
</plist>