<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>477164713708-g9uv62qribqutir4rio19e4ku3k3cfvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477164713708-g9uv62qribqutir4rio19e4ku3k3cfvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCXFuj8pu1BatGug8W_zJa3uFFQtMOeFL0</string>
	<key>GCM_SENDER_ID</key>
	<string>477164713708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leobartowski.LogInTest</string>
	<key>PROJECT_ID</key>
	<string>provalogin-65a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>provalogin-65a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477164713708:ios:41d39ecacbd453c1</string>
	<key>DATABASE_URL</key>
	<string>https://provalogin-65a2c.firebaseio.com</string>
</dict>
</plist>